body{
    height: 2000px;
}
header nav {
    background-color: #f1f5f8;
    color: #37474e;
}
header nav h3{
      font-family: 'Times New Roman', Times, serif;
      margin-left: 10px;
      margin-top: 6px;
}
header nav .logo{
    display: flex;
}
nav .btns{
    margin-right: 20px;
    font-size: 19px !important;
}
main{
    background-image: url(../products/back1.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
}
#login h3,#register h3{
font-family: 'Times New Roman', Times, serif;
}
#login{
    width: 500px;
    height: 310px;
    padding: 30px;
    text-align: center;
    background-color: #f1f5f8;
    border-radius: 10px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#register{
    width: 500px;
    height: 425px;
    padding: 30px;
    text-align: center;
    background-color: #f1f5f8;
    border-radius: 10px;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.user-info{
    display: none;
    margin-right: 10px;
}
.user-info #user{
    margin-right: 10px;
    text-decoration: none;
    font-size: 18px;
}
